*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, purple, pink);
}
table{
    
    width: 80%;
    height: 400px;
    margin: 100px auto;
    text-align: center;
    border-collapse: collapse ;
    font-size: 20px;

    border-radius: 30px;
}
td{

        
    
    
}
         /* tr:nth child backgound color */
tr:nth-child(even){
    background-color: rgb(238, 235, 235);
}

tr:nth-child(odd){
    background-color: white;

}
th{
    height: 50px;
    color: #fff;
    font-size: 18px;
    background-color: black;
}
#lb{
border-style: none;
border-bottom-left-radius: 10px;
}
#rb{
border-bottom-right-radius: 10px;
border-style: none;
}
#lt{
border-style: none;
border-top-left-radius: 10px;
}
#rt{
border-top-right-radius: 10px;
border-style: none;
}
